@use "reset";
@use "utils";
@use "tools" as *;

$main_bg: hsl(233, 47%, 7%);
$card_bg: hsl(244, 38%, 16%);
$accent: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$white-75: hsla(0, 0%, 100%, 0.75);
$white-60: hsla(0, 0%, 100%, 0.6);

// Typography
@mixin inter-bold($size, $line_height) {
    font-family: "Inter", sans-serif;
    font-size: px2rem($size);
    font-weight: 700;
    line-height: px2rem($line_height);
    color: $white;
}

@mixin inter-bold-2 {
    font-family: "Inter", sans-serif;
    font-size: px2rem(24);
    font-weight: 700;
    line-height: auto;
    color: $white;
}

@mixin inter-regular {
    font-family: "Inter", sans-serif;
    font-size: px2rem(15);
    font-weight: 400;
    line-height: px2rem(25);
    color: $white-75;
}

@mixin lexend-deca-regular {
    font-family: "Lexend Deca", sans-serif;
    font-size: px2rem(12);
    font-weight: 400;
    line-height: px2rem(25);
    color: $white-60;
    letter-spacing: px2rem(1);
}

body {
    // Background
    background-color: $main_bg;
    // Layout
    @include utils.flex-center;
    padding: px2rem(88) px2rem(24);
}

.card {
    @include utils.flex-column;
    max-width: px2rem(540);
    background-color: $card_bg;
    border-radius: px2rem(8);
    box-shadow: 0 20px 20px -10px hsla(233, 28%, 13%, 0.20);

    .card-body {
        padding: px2rem(32);
    }

    .description {
        @include utils.flex-column;
        gap: px2rem(16);
        padding: 0.5rem 0 2.5rem 0;
    }

    .statistics {
        @include utils.flex-column;
        gap: 1.5rem;
    }

    .title {
        @include inter-bold(28, 32);
        text-align: center;
    }

    .paragraph {
        @include inter-regular;
        text-align: center;
    }

    .stat-box {
        @include utils.flex-column;
        gap: 0.125rem;
        align-items: center;
    }

    .stat-value {
        @include inter-bold-2;
    }

    .stat-name {
        @include lexend-deca-regular;
    }
}

.color-mask {
    background-color: $accent;
    @include utils.border-radius-top(inherit);

    // image presentation
    & img {
        opacity: 0.75;
        mix-blend-mode: multiply;
        @include utils.border-radius-top(inherit);
    }
}

.text-accent {
    color: $accent;
}

@media (min-width: px2rem(1200)) {
    body {
        padding: px2rem(177) px2rem(165);
    }
    .card {
        @include utils.flex-row($reverse: true);
        max-width: px2rem(1110);
        max-height: px2rem(446);

        .card-body {
            padding: px2rem(72);
            padding-bottom: px2rem(59);
        }

        .description {
            gap: px2rem(25);
            padding: unset;
            padding-bottom: px2rem(72);
        }

        .statistics {
            flex-direction: row;
            gap: px2rem(62);
        }

        .title {
            @include inter-bold(38, 44);
            text-align: left;
        }

        .paragraph {
            text-align: left;
            padding-right: px2rem(53);
        }

        .stat-box {
            align-items: flex-start;
        }
    }

    .color-mask {
        @include utils.border-radius-right(inherit);
        max-width: max-content;

        & img {
            @include utils.border-radius-right(inherit);
            max-height: 100%;
            width: unset;
        }
    }
}